.modal
    position: fixed
    top: 0
    left: 0
    height: 100vh
    width: 100vw
    background-color: rgba(1, 1, 1,0.2 )
    display: flex
    justify-content: center
    align-items: center
    z-index: 50

    .body
        display: flex
        flex-direction: column
        justify-content: center
        background-color: white
        border-radius: 0.8rem
        border: 2px solid black
        min-height: 9rem
        height: auto
        min-width: 40%
        max-width: 60%
        padding: 3rem
        margin-bottom: 3rem

