$yellow: #ffcc00
$blue: #007aff
$gray-text: #a6a6a6

.challenges-page
    width: 90vw
    padding: 3rem 0

.header-challenges
    display: flex
    justify-content: space-between
    align-items: center
    margin: 1rem 0
    padding: 0 0.3rem 


.page-title
    color: black
    justify-content: start
    align-items: start

.header-challenges.sub
    margin: 0 2rem
    div a button
        font-weight: 700
        background-color: $blue
        transition: background-color 0.2s ease
        &:hover
            background-color: $yellow
            color: white

.page-sub-title
    color: $gray-text
    font-size: 2.3rem

.header-challenges div a
    margin-left: 1rem
    color: $blue 
    text-decoration: none
    transition: color 0.2s ease

.header-challenges 
    a:hover
        color: $yellow

.challenges
    display: flex
    flex-wrap: wrap
    justify-content: space-between
    width: 80vw
    gap: 2.4rem
    background-color: #fff
    padding: 2rem
    border-radius: 0.8rem
    border: 0.1rem solid black
    box-shadow: 4px 4px 0 #000
    margin-left: 2rem
