$yellow: #ffcc00
$blue: #007aff

.navbar
    position: fixed
    top: 50%
    left: 1rem
    transform: translateY(-50%)
    display: flex
    justify-content: space-around
    align-items: center
    flex-direction: column
    width: 2rem
    height: 10rem
    background-color: #fff
    border-radius: 0.8rem
    border: 0.1rem solid black
    box-shadow: 0 2px 4px rgba(0,0,0,0.05)
    padding: 0.5rem
    z-index: 1000

.nav-icon
    color: $yellow
    transition: color 0.3s ease

.nav-icon.active
    color: $blue

button
    border-radius: 0.8rem
    box-shadow: 0 2px 4px rgba(0,0,0,0.05)

.logout-btn
    position: fixed
    right: 1rem
    bottom: 90%
    background-color: $blue