$green: #4cd964
$yellow: #ffcc00
$blue: #007aff
$gray-text: #a6a6a6

.challenge-detail-page
    position: fixed
    max-height: 80vh
    padding: 3rem 0.3rem

.challenge-detail-card
    display: flex
    text-align: center
    background-color: #fff
    border-radius: 0.8rem
    border: 0.1rem solid black
    box-shadow: 4px 4px 0 #000
    padding: 0.5rem
    width: 75rem
    height: 35rem
    gap: 1rem

.challenge-detail-header
    display: flex
    justify-content: space-between
    align-items: center

    .back-btn
        background: none
        color: black
    .actions
        display: flex
        gap: 0.5rem

.goals
    display: flex
    justify-content: start
    text-align: start
    flex-direction: column
    width: 80%
    border-radius: 0.8rem
    color: $blue
    overflow-y: auto
    position: relative

    .title
        position: sticky
        top: 0
        padding: 0.5rem
        z-index: 20
        display: flex
        align-items: center
        justify-content: center
        background-color: white
        box-shadow: 0 4px 0 #8c87876c
        border-radius: 0.8rem
        height: 100%

        h3
            color: black
            font-size: 3rem
            position: absolute
            left: 45%
        a
            margin-left: auto // to make it to the far right
            .add-goal
                background: none
                border: none
                cursor: pointer
                transition: color 0.3s ease-out

                .icon
                    color: #4cd964
                    transition: color 0.3s ease-out

                &:hover .icon
                    color: $yellow

    .goal-item
        display: flex
        justify-content: space-between
        align-items: center
        align-self: center
        gap: 0.8rem
        border-bottom: 2px solid #000
        border-radius: 0.3rem
        padding: 0.5rem 0.5rem
        margin-right: 1rem

    .goal-checkbox
        appearance: none
        background-color: white
        border: 3px solid $green
        border-radius: 0.2rem
        width: 26px
        height: 26px
        margin: 0.8rem
        accent-color: $green
        cursor: pointer

        &:checked
            background-color: $green
            border-color: $green

            &::after // becasue i want to make the checkbox custom , the default doesnt give me full control
                content: "✓"
                top: 0
                left: 4px
                color: white
                font-size: 23px
                line-height: 1.2
            &:disabled // if checked they cant click it
                cursor: not-allowed
                opacity: 0.7

    .goal-content
        flex: 1

    .goal-header
        display: flex
        align-items: center

    .goal-title
        font-weight: 600
        color: $blue
        margin-right: 0.6rem
        font-size: 1.4rem

    .goal-description
        color: #a6a6a6
        font-size: 0.9rem
            

    .completed
        text-decoration: line-through
        opacity: 0.6
        background-color: #f4f4f4


.challenge-details
    flex: 1
    display: flex
    flex-direction: column
    justify-content: stretch

    div
        padding: 0.2rem
        background-color: #f6f6f6
        border-radius: 0.8rem
        color: $blue
        font-size: 1rem
        width: 93%
        padding: 0.2rem
        margin: 0.2rem

    .points
        h4
            color: $yellow
            font-size: 3rem
            margin: 0.3rem
    .members
        ul
            list-style-type: none
            display: flex
            flex-direction: column
            align-content: center
        li
            font-size: 1.3rem
